
.triangle {
    width: 40vw;
    height: 75vh;
    background-image: url("../images/top-page/people-practicing-winter-sports.jpg");
    background-position: center;
    background-size: cover;
    // background-repeat: no-repeat;
    clip-path: polygon(62% 14%, 73% 4%, 87% 0%, 87% 10%, 70% 100%, 0 100%, 10% 82%, 0 40%, 28% 14%);
}

.about-member{
    width: 35vw;
    height: 25vh;
    background-color: #81BFD3;

}

.more-info{
    background-color: #81BFD3;
    height: 5.65vh;
   
}


@media (max-width: 667px) {
    .cntct {
      display: none;
    }
  }
  @media (max-width: 1200px) {
    .cntct button{
        font-size: 13px;
    }
  }